date.timezone={{getv "/php/date/timezone" "Europe/Berlin"}}
log_errors={{getv "/php/log/errors" "On"}}
display_errors={{getv "/php/display/errors" "Off"}}
error_reporting={{getv "/php/error/reporting" "E_ALL & ~E_NOTICE & ~E_STRICT & ~E_DEPRECATED"}}
post_max_size={{getv "/php/post/max/size" "8M"}}
upload_max_filesize = {{getv "/php/upload/max/filesize" "2M"}}
max_file_uploads = {{getv "/php/max/file/uploads" "20"}}
memory_limit = {{getv "/php/memory/limit" "32M"}}
max_execution_time = {{getv "/php/max/execution/time" "60"}}
max_input_time = {{getv "/php/max/input/time" "60"}}
short_open_tag = {{getv "/php/short/open/tag" "On"}}

